.button:hover {
    transform: translateY(-3px) scale(1.05);
    transition: 0.2s;
}
.button {
    transform: translateY(0px) scale(1);
    transition: 0.2s;
}

.size-up-anim:hover {
    transform: translateY(-3px) scale(1.05);
    transition: 0.2s;
}
.size-up-anim {
    transform: translateY(0px) scale(1);
    transition: 0.2s;
}
.info-block {
    width: 95vw;
    background-color: #111316;
    border-radius: 20px;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.nav-link.text-secondary:hover {
    color: #C6C6C6;
}
.nav-link.text-secondary:focus {
    color: #f80752;
}
.dropdown-item.text-secondary:hover {
    background-color: #f80752;
    color: #E6E6E6;
}
.dropdown-item.text-secondary:focus {
    background-color: #C6C6C6;
    color: #111316;
}
.box-separator {
    padding: 20px 40px;
}
.nav {
    background-color: #0d0e10;
}
.nav-link.active.bg-white-kraken {
    background-color: #f80752;
}
.nav-item {
    margin-top: auto;
    margin-bottom: auto;
}
.team-card {
    max-width: 14rem;
    width: 35vw;
    margin-top: 40px;
    padding: 13px;
}
.premium-icon {
    margin: 0% 42.5%;
    width: auto;
}
.premium-wrapper {
    margin: 0% 5%;
}
.rounded-20 {
    border-radius: 20px;
}
.premium-card {
    min-height: 630px;
}
.size-keeper {
    height: 48px;
}

@font-face {
    font-family: nuku;
    src: url("/nuku1.ttf");
}
.text-nuku {
    font-family: 'nuku';
}
.z-index-100 {
    z-index: 100;
}
.z-index-10 {
    z-index: 10;
}
.z-index--1 {
    z-index: -1;
}
.mt-100 {
    margin-top: 100px;
}
body {
    margin-top: 100px;
}
html {
    font-family: Inter;
    font-size: 16px;
}
.scrollable-container {
    overflow-y: scroll;
    height: calc(100vh - 100px);
}
.accordion-button:focus {
    box-shadow: 0 0 0 0;
}