.index-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
}
.index-home {
  width: 100%;
  height: 579px;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  min-height: 80vh;
  align-items: center;
  padding-top: 91px;
  flex-direction: row;
  padding-bottom: 36px;
  justify-content: space-between;
  background-image: linear-gradient(180deg, rgb(13, 14, 16) 0.00%,rgb(17, 19, 22) 100.00%);
}
.index-container1 {
  display: flex;
  margin-right: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.index-text {
  color: var(--dl-color-primary-100);
  width: 558px;
  height: 80px;
  font-size: 3rem;
  max-width: 450px;
  font-style: normal;
  font-weight: 700;
}
.index-text06 {
  font-size: 25px;
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
}
.index-text08 {
  font-weight: 700;
}
.index-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.index-link {
  font-size: 20px;
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  border-width: 0px;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-primary-100);
}
.index-link:hover {
  color: var(--dl-color-gray-dark);
  background-color: var(--dl-color-gray-black);
}
.index-link1 {
  color: var(--dl-color-primary-100);
  font-size: 20px;
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-unit);
  border-color: transparent;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.index-link1:hover {
  border-color: var(--dl-color-gray-black);
}
.index-image {
  width: 338px;
  height: 338px;
  object-fit: cover;
}
.index-functions {
  height: 889px;
  display: flex;
  padding-bottom: 429px;
  background-size: cover;
  background-image: url("public/playground_assets/download.svg");
  background-position: center;
}
.index-features {
  display: flex;
  padding: var(--dl-space-space-threeunits);
  align-items: center;
  padding-top: 91px;
  padding-right: 48px;
  flex-direction: column;
  padding-bottom: 117px;
}
.index-text11 {
  font-size: 3rem;
  margin-bottom: var(--dl-space-space-twounits);
}
.index-text14 {
  color: var(--dl-color-gray-700);
  width: 70%;
  font-size: 1.15rem;
  text-align: center;
}
.index-container2 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-twounits);
  margin-top: var(--dl-space-space-fourunits);
  margin-bottom: 71px;
  background-size: cover;
  background-image: url("public/playground_assets/download.svg");
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.index-feature-card {
  display: flex;
  padding: var(--dl-space-space-twounits);
  flex-wrap: wrap;
  box-shadow: 5px 5px 10px 0px #000000;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-gray-dark);
}
.index-image1 {
  width: 100px;
  object-fit: cover;
}
.index-text16 {
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
.index-text17 {
  color: var(--dl-color-gray-700);
  text-align: center;
}
.index-text18 {
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-unit);
  font-weight: 500;
}
.index-feature-card1 {
  display: flex;
  padding: var(--dl-space-space-twounits);
  flex-wrap: wrap;
  box-shadow: 5px 5px 10px 0px #000000;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-gray-dark);
}
.index-image2 {
  width: 100px;
  object-fit: cover;
}
.index-text19 {
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
.index-text20 {
  color: var(--dl-color-gray-700);
  text-align: center;
}
.index-text21 {
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-unit);
  font-weight: 500;
}
.index-feature-card2 {
  display: flex;
  padding: var(--dl-space-space-twounits);
  flex-wrap: wrap;
  box-shadow: 5px 5px 10px 0px #000000;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-gray-dark);
}
.index-image3 {
  width: 100px;
  object-fit: cover;
}
.index-text22 {
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
.index-text23 {
  color: var(--dl-color-gray-700);
  text-align: center;
}
.index-text24 {
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-unit);
  font-weight: 500;
}
.index-feature-card3 {
  display: flex;
  padding: var(--dl-space-space-twounits);
  flex-wrap: wrap;
  box-shadow: 5px 5px 10px 0px #000000;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-gray-dark);
}
.index-image4 {
  width: 100px;
  object-fit: cover;
}
.index-text25 {
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
.index-text26 {
  color: var(--dl-color-gray-700);
  text-align: center;
}
.index-text27 {
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-unit);
  font-weight: 500;
}
@media(max-width: 991px) {
  .index-home {
    flex-direction: column;
  }
  .index-container1 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
  .index-text {
    text-align: center;
  }
  .index-text06 {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .index-text11 {
    text-align: center;
  }
  .index-text14 {
    text-align: center;
  }
  .index-container2 {
    grid-template-columns: 1fr 1fr;
  }
}
@media(max-width: 767px) {
  .index-home {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .index-text06 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .index-features {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .index-text11 {
    text-align: center;
  }
}
@media(max-width: 479px) {
  .index-home {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .index-container1 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .index-btn-group {
    flex-direction: column;
  }
  .index-link1 {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .index-features {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .index-container2 {
    grid-template-columns: 1fr;
  }
}
