::-webkit-scrollbar {
  width: 7px;
  background-color: var(--bs-body-bg);
}

::-webkit-scrollbar-thumb {
  background-color: #f80752;
  border-radius: 15px;
  transition: 0.35s;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--bs-primary);
}

